{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4]
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js",
                "config-index": 1
            }
        }
    }
}