{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "react/jsx-indent": 0,
        "react/prop-types": 0,
        "no-console": ["error", { "allow": ["log"] }]
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
            }
        }
    }
}
