.carousel {
    display: inline-block;
    border: blue solid;
    position: relative;
    width: 90%;

    width: 100%;
    position: absolute;
    top: 0;

    // &:before {
    //     content: ' ';
    //     display: block;
    //     height: 0;
    //     padding-bottom: 26%;
    // }

    &_container {
        width: 99%;
        border: red solid 1px;
        position: relative;

        // overflow-x: 
    }

    & img {
        width: 100%;
        // position: absolute;
        // top: 0;
    }
}