.fouse-areas {
    &_container {
        padding: 0 20px 100px 20px;
    }

    &_left {
        display: inline-block;
        width: 150px;
        vertical-align: top;


        .area_item {
            padding-bottom: 20px;
        }
    }

    &_right {
        display: inline-block;
        width: calc(100% - 150px);
    }

    &_title {
        padding-bottom: 20px;
        font-weight: bold;
        color: #999999;
    }
}

.article {
    &_container {
        width: 25%;
        display: inline-block;
        max-height: 150px;
    }

    &_thumb {
        height: 100%;
        display: block;

    }

    &_title {
        display: block;
    }
}
